.uaoClass{
    color:white;
    width: 100px;
    height: 100px;
    
}

h1{
    text-align: center;
    padding-top: 15px;
}

#uaoId{
    background: darkcyan;
    width: 200px;
    height: 200px;
}

a[href="https://www.uao.edu.co/"]{
    color: black;
}